<!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                My Portfolio
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="home">
                    Home
                </a>
                <a class="navbar-item" href="#about">
                    About Us
                </a>
                <a class="navbar-item" href="#projects">
                    Projects
                </a>
                <a class="navbar-item" href="#contact">
                    Contact
                </a>
            </div>
        </div>
    </nav>
