<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>ALDERGATE.CA - HOME</title>
</head>
<body>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Serving the lower mainland, and Fraser Valley of British Columbia, Canada.
      </h1>
      <p class="subtitle">
        Welcome to the new home of Direct Access Systems Inc, <strong>aldergate.ca</strong>!
      </p>
    </div>
  </section>


<section>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="index.html"> <!-- Link to Home page -->
            My Portfolio
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="index.html">Home</a> <!-- Link to Home page -->
            <a class="navbar-item" href="about.html">About Me</a> <!-- Link to About page -->
            <a class="navbar-item" href="projects.html">Projects</a> <!-- Link to Projects page -->
            <a class="navbar-item" href="contact.html">Contact</a> <!-- Link to Contact page -->
        </div>
    </div>
</nav>

</section>



<!--
    <header>
        {% include 'partials/header.html' %}
    </header>


    <main>
        {% block content %}<p>this is the content area.</p>{% endblock %}
    </main>
</body>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
-->
</body>
</html>