<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}aldergagte.ca{% endblock %}</title>
</head>
<body>

    <h1>Hello World it's me! Welcome to aldergate.ca</h1>

    <!-- <header>
        {% include 'partials/header.html' %}
    </header>

    <main>
        {% block content %}<p>this</p>{% endblock %}
    </main>

    <footer>
        {% include 'partials/footer.html' %} -->
    </footer>
</body>
</html>
